<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.reva">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_revaicon"
        android:label="REVA Hostel"
        android:roundIcon="@mipmap/ic_revaicon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".ArevaActivity" />
        <activity android:name=".AthithiActivity" />
        <activity android:name=".VideoActivity" />
        <activity android:name=".SecurityActivity" />
        <activity android:name=".RoomsActivity" />
        <activity android:name=".FoodActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".FacilitiesActivity" />
        <activity android:name=".RRActivity" />
        <activity android:name=".DeveloperActivity" />
        <activity android:name=".CallActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".Hreva" />
        <activity
            android:name=".MenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>